.cat_nav {
  display: flex;
  justify-content: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  padding-top: 42px;
}
.cat_nav button {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #7C7C7C;
}
.cat_nav .active {
  font-weight: 700;
  color: #000000;
}

#ucat, #scat {
  margin-top: 42px;
}
#ucat .cat_element, #scat .cat_element {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
#ucat .cat_element .info, #scat .cat_element .info {
  width: 81%;
  background-color: white;
  height: 80px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  padding-left: 32px;
}
#ucat .cat_element .info .text, #scat .cat_element .info .text {
  color: black;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: auto 0;
}
#ucat .cat_element .control, #scat .cat_element .control {
  width: 19%;
  display: flex;
  justify-content: right;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
#ucat .cat_element .control .edit, #ucat .cat_element .control .del, #scat .cat_element .control .edit, #scat .cat_element .control .del {
  width: 80px;
  height: 80px;
  border-radius: 16px;
  display: flex;
}
#ucat .cat_element .control .edit img, #ucat .cat_element .control .del img, #scat .cat_element .control .edit img, #scat .cat_element .control .del img {
  margin: auto;
}
#ucat .cat_element .control .edit, #scat .cat_element .control .edit {
  border: 2px solid #E0AC14;
}
#ucat .cat_element .control .del, #scat .cat_element .control .del {
  border: 2px solid #A54F50;
}

#scat .cat_element .info {
  width: 90%;
}
#scat .cat_element .control {
  width: 10%;
}
#scat .cat_element .control svg {
  margin: auto 0;
}
#scat .cat_element .control svg path, #scat .cat_element .control svg rect {
  transition: 0.2s ease-out;
}
#scat .cat_element .control svg:hover {
  cursor: pointer;
}

.off .info {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
  opacity: 0.5;
}
.off svg path {
  transform: translateX(-30px);
  fill: #A6A6A6;
}
.off svg .wh {
  fill: #FAFAFA;
}
.off svg rect {
  fill: #A6A6A6;
  opacity: 0.5;
}