.stat_nav {
  display: flex;
  justify-content: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  padding-top: 42px;
}
.stat_nav button {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #7C7C7C;
}
.stat_nav .active {
  font-weight: 700;
}

.stat_header {
  width: 1128px;
  min-height: 391px;
  padding-bottom: 60px;
  margin: 0 auto;
  margin-top: 16px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}
.stat_header .nav {
  width: 100%;
  padding-top: 16px;
}
.stat_header .nav .type {
  display: flex;
  justify-content: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.stat_header .nav .type button {
  background: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #00A068;
}
.stat_header .nav .type .active {
  font-weight: 700;
  text-decoration-line: underline;
}
.stat_header .nav .date {
  display: flex;
  justify-content: space-between;
  width: 230px;
  margin: 0 auto;
  margin-top: 8px;
}
.stat_header .nav .date button {
  background: none;
}
.stat_header .nav .date .text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.stat_header #chart {
  height: 253px;
  width: 80%;
  margin: 0 auto;
  margin-top: 21px;
}

.stat_element {
  width: 1128px;
  height: 80px;
  margin: 0 auto;
  margin-top: 16px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  padding: 0px 32px;
}
.stat_element .stat_element_inner {
  color: black;
  margin: auto 0;
  display: flex;
  width: 33.3%;
}
.stat_element .left {
  justify-content: left;
}
.stat_element .center {
  justify-content: center;
  color: #7C7C7C !important;
}
.stat_element .right {
  justify-content: right;
}
.stat_element .color_1 {
  color: #3C6053;
}
.stat_element .color_2 {
  color: #248A66;
}
.stat_element .color_3 {
  color: #00A068;
}

.ct-label {
  fill: black !important;
  color: black !important;
}

.pie .ct-label {
  fill: white !important;
  color: white !important;
}
.pie .ct-series-a path {
  fill: #3C6053 !important;
}
.pie .ct-series-b path {
  fill: #248A66 !important;
}
.pie .ct-series-c path {
  fill: #00A068 !important;
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
  stroke: #00A068;
}

.ct-bar {
  stroke-width: 23px;
}

#cash_flow {
  width: 934px;
  margin: 0 auto;
}
#cash_flow .date, #cash_flow .income, #cash_flow .expanse {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  margin-top: 18px;
}
#cash_flow .income span {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #00A068;
}
#cash_flow .expanse span {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #A54F50;
}
#cash_flow .bar {
  margin-top: 18px;
  width: 100%;
  height: 48px;
  background: #F2F2F2;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
#cash_flow .bar .income, #cash_flow .bar .expanse {
  border-radius: 8px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 48px;
}
#cash_flow .bar .income {
  background: #00A068;
  width: 30%;
}
#cash_flow .bar .expanse {
  background: #A54F50;
  width: 50%;
}

#cash_flow_desc {
  width: 1128px;
  padding: 50px;
  margin: 0 auto;
  margin-top: 16px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}
#cash_flow_desc .date, #cash_flow_desc .cf_header {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #00A068;
  width: 100%;
  text-align: center;
}
#cash_flow_desc .cf_header {
  margin-top: 30px;
}
#cash_flow_desc .cash_flow_desc_element {
  width: 934px;
  margin: 0 auto;
  margin-top: 16px;
  display: flex;
}
#cash_flow_desc .cash_flow_desc_element .name, #cash_flow_desc .cash_flow_desc_element .inc, #cash_flow_desc .cash_flow_desc_element .exp {
  width: 20%;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
#cash_flow_desc .cash_flow_desc_element .name {
  width: 60%;
}
#cash_flow_desc .cash_flow_desc_element .exp {
  color: #A54F50;
}
#cash_flow_desc .cf {
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  width: 100%;
  text-align: center;
}

#cash_flow_block {
  width: 1128px;
  margin: 0px auto;
}
#cash_flow_block .exp_header, #cash_flow_block .inc_header {
  margin-top: 30px;
  padding-left: 100px;
  width: 100%;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
}
#cash_flow_block .exp_header {
  color: #A54F50;
}
#cash_flow_block .inc_header {
  color: #00A068;
}
#cash_flow_block .element {
  margin-top: 16px;
  height: 80px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  padding: 0px 32px;
}
#cash_flow_block .element .name, #cash_flow_block .element .sum {
  margin: auto 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
#cash_flow_block .exp .sum {
  color: #A54F50;
}
#cash_flow_block .inc .sum {
  color: #00A068;
}