@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&display=swap");
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  color: white;
  transition: 0.3s;
  font-family: "Montserrat";
}

img, svg {
  transition: 0.3s;
}

a:hover, button:hover {
  cursor: pointer;
  opacity: 0.6;
}

body {
  background-color: black;
  line-height: 1;
  background-color: #F2F2F2;
}

.dnone {
  display: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1140px;
  padding: 0px 20px;
  margin: 0 auto;
}

.sort_add {
  margin-top: 40px;
}
.sort_add .container {
  display: flex;
  justify-content: space-between;
}
.sort_add .container .sort_by {
  width: 50%;
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.sort_add .container .sort_by .text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #7C7C7C;
  margin: auto 0;
}
.sort_add .container .sort_by .dd button {
  display: flex;
  width: 270px;
  background-color: white;
  justify-content: space-between;
  padding: 0px 11px;
  height: 46px;
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sort_add .container .sort_by .dd button .t {
  color: black;
  margin: auto 0;
}
.sort_add .container .sort_by .dd button img {
  margin: auto 0;
}
.sort_add .container .add button {
  width: 168px;
  height: 46px;
  background-color: #00A068;
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.total_balance {
  margin-top: 40px;
}
.total_balance .total_balance_element {
  width: 81%;
  background-color: white;
  color: black;
  height: 80px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
}
.total_balance .total_balance_element .text, .total_balance .total_balance_element .count {
  margin: auto 0;
  color: black;
}
.total_balance .total_balance_element .text {
  padding: 0px 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.total_balance .total_balance_element .count {
  display: flex;
  justify-content: right;
}
.total_balance .total_balance_element .count .text {
  padding: 0px 20px;
  margin: auto 0;
}
.total_balance .total_balance_element .count button {
  height: 80px;
  background-color: #006EE6;
  width: 80px;
  border-radius: 0px 16px 16px 0px;
}
.total_balance .total_balance_element .count button:hover {
  cursor: pointer;
}

.accounts {
  margin-top: 16px;
}
.accounts h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #7C7C7C;
}
.accounts .account_element {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.accounts .account_element .info {
  width: 81%;
  background-color: white;
  color: black;
  height: 80px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
}
.accounts .account_element .info .ico_and_name {
  display: flex;
  width: 40%;
}
.accounts .account_element .info .ico_and_name .green {
  background-color: #00695C;
}
.accounts .account_element .info .ico_and_name .orange {
  background-color: #FF6F00;
}
.accounts .account_element .info .ico_and_name .ico {
  width: 80px;
  display: flex;
  border-radius: 16px 0px 0px 16px;
}
.accounts .account_element .info .ico_and_name .ico img {
  margin: auto;
}
.accounts .account_element .info .name, .accounts .account_element .info .count .text, .accounts .account_element .info .type {
  color: black;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: auto 0;
}
.accounts .account_element .info .type {
  color: #7C7C7C;
}
.accounts .account_element .info .name {
  padding: 0px 18px;
  font-weight: 500;
  font-size: 24px;
  width: 280px;
  line-height: 29px;
}
.accounts .account_element .info .count {
  display: flex;
  justify-content: right;
  width: 40%;
}
.accounts .account_element .info .count .text {
  padding: 0px 20px;
}
.accounts .account_element .info .count button {
  height: 80px;
  background-color: #006EE6;
  width: 80px;
  border-radius: 0px 16px 16px 0px;
}
.accounts .account_element .info .count button:hover {
  cursor: pointer;
}
.accounts .account_element .control {
  width: 19%;
  display: flex;
  justify-content: right;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.accounts .account_element .edit, .accounts .account_element .del {
  width: 80px;
  height: 80px;
  border-radius: 16px;
  display: flex;
}
.accounts .account_element .edit img, .accounts .account_element .del img {
  margin: auto;
}
.accounts .account_element .edit {
  border: 2px solid #E0AC14;
}
.accounts .account_element .del {
  border: 2px solid #A54F50;
}

header {
  background-color: #00A068;
  min-width: 1140px;
}
header .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
}
header .container .logo_and_text {
  width: 25%;
  display: flex;
  margin: auto 0;
}
header .container .logo_and_text .logo {
  margin: auto 0;
}
header .container .logo_and_text .text {
  margin: auto 0;
  padding-left: 8px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}
header .container .links {
  width: 50%;
  margin: auto 0;
  display: flex;
  justify-content: center;
}
header .container .links a {
  padding: 0px 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
header .container .links .active {
  font-weight: 700;
}
header .container .user {
  width: 25%;
  margin: auto 0;
  display: flex;
  justify-content: right;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
header .container .user .img img {
  width: 46px;
  height: 46px;
  border-radius: 24px;
}
header .container .user .img, header .container .user .name, header .container .user .arrow {
  margin: auto 0;
}

.reg {
  width: 640px;
  margin: 0 auto;
}
.reg h1 {
  margin-top: 44px;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  text-transform: uppercase;
  color: #00A068;
}
.reg .form {
  margin-top: 16px;
  padding: 40px;
  border: 3px solid #00A068;
  border-radius: 10px;
}
.reg .form label {
  color: #7C7C7C;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
}
.reg .form input {
  margin: 18px 0px;
  width: 91%;
  background: none;
  border: 1px solid #7C7C7C;
  height: 55px;
  padding: 0px 20px;
  font-size: 24px;
  border-radius: 8px;
}
.reg .form a {
  font-weight: 500;
  font-size: 16px;
  line-height: 31px;
  color: #3E5DCD;
  display: block;
  margin-top: -10px;
}
.reg .form button {
  margin-top: 16px;
  width: 100%;
  height: 55px;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  background: #00A068;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.reg_dop_info {
  width: 950px;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #00A068;
  margin: 0 auto;
  margin-top: 24px;
}

.popup .cross {
  transition: 0.3s;
}
.popup .cross:hover {
  cursor: pointer;
  opacity: 0.6;
}

#add_account_popup {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(18, 18, 18, 0.85);
}
#add_account_popup .add_account {
  position: absolute;
  width: 861px;
  height: 549px;
  left: calc(50% - 430.5px + 0.5px);
  top: calc(50% - 274.5px);
  background: #F2F2F2;
}
#add_account_popup .add_account .control {
  position: absolute;
  width: 861px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
}
#add_account_popup .add_account .control .text, #add_account_popup .add_account .control .cross {
  color: #7C7C7C;
  margin: auto 0;
}
#add_account_popup .add_account .content {
  display: flex;
  margin: 0 auto;
  margin-top: 80px;
  height: 469px;
  width: 90%;
  justify-content: space-around;
}
#add_account_popup .add_account .content .element_or {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #7C7C7C;
  margin: auto 0;
}
#add_account_popup .add_account .content .element:hover {
  opacity: 0.6;
  cursor: pointer;
}
#add_account_popup .add_account .content .element {
  width: 325px;
  height: 325px;
  margin: auto 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 40px;
  text-align: center;
}
#add_account_popup .add_account .content .element .name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 14px;
}
#add_account_popup .add_account .content .element .desc {
  margin-top: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #7C7C7C;
}

#add_card_popup, #account_edit_popup, #account_add_popup {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(18, 18, 18, 0.85);
}
#add_card_popup .add_card, #account_edit_popup .add_card, #account_add_popup .add_card {
  position: absolute;
  width: 861px;
  padding-bottom: 56px;
  left: calc(50% - 430.5px + 0.5px);
  top: calc(50% - 274.5px);
  background: #F2F2F2;
}
#add_card_popup .add_card .control, #account_edit_popup .add_card .control, #account_add_popup .add_card .control {
  position: absolute;
  width: 861px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
}
#add_card_popup .add_card .control .text, #add_card_popup .add_card .control .cross, #account_edit_popup .add_card .control .text, #account_edit_popup .add_card .control .cross, #account_add_popup .add_card .control .text, #account_add_popup .add_card .control .cross {
  color: #7C7C7C;
  margin: auto 0;
}
#add_card_popup .add_card .content, #account_edit_popup .add_card .content, #account_add_popup .add_card .content {
  display: flex;
  margin: 0 auto;
  margin-top: 80px;
  width: 552px;
  flex-wrap: wrap;
  justify-content: center;
}
#add_card_popup .add_card .content label, #account_edit_popup .add_card .content label, #account_add_popup .add_card .content label {
  width: 100%;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #7C7C7C;
}
#add_card_popup .add_card .content input, #account_edit_popup .add_card .content input, #account_add_popup .add_card .content input {
  width: 100%;
  height: 55px;
  border: 1px solid #7C7C7C;
  border-radius: 8px;
  background: none;
  padding: 0px 20px;
}
#add_card_popup .add_card .content button, #account_edit_popup .add_card .content button, #account_add_popup .add_card .content button {
  width: 100%;
  margin-top: 16px;
  height: 55px;
  background: #00A068;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
}

#account_edit_popup .add_card .content label, #account_add_popup .add_card .content label {
  text-align: left;
  padding-top: 10px;
}
#account_edit_popup .add_card .content label:first-child, #account_add_popup .add_card .content label:first-child {
  padding-top: 28px;
}
#account_edit_popup .add_card .content button, #account_add_popup .add_card .content button {
  margin-top: 42px;
}