@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&display=swap");
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  color: white;
  transition: 0.3s;
  font-family: "Montserrat";
}

img, svg {
  transition: 0.3s;
}

body {
  background-color: black;
  line-height: 1;
  background-color: #F2F2F2;
}

.dnone {
  display: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

header {
  background-color: #00A068;
}
header .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
}
header .container .logo_and_text {
  width: 25%;
  display: flex;
  margin: auto 0;
}
header .container .logo_and_text .logo {
  margin: auto 0;
}
header .container .logo_and_text .text {
  margin: auto 0;
  padding-left: 8px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}
header .container .links {
  width: 50%;
  margin: auto 0;
  display: flex;
  justify-content: center;
}
header .container .links a {
  padding: 0px 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
header .container .links .active {
  font-weight: 700;
}
header .container .user {
  width: 25%;
  margin: auto 0;
  display: flex;
  justify-content: right;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
header .container .user .img img {
  width: 46px;
  height: 46px;
  border-radius: 24px;
}
header .container .user .img, header .container .user .name, header .container .user .arrow {
  margin: auto 0;
}