@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&display=swap')

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
    display: block
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline
    box-sizing: border-box
    color: white
    transition: .3s
    font-family: 'Montserrat'
img, svg
    transition: .3s
a:hover, button:hover
    cursor: pointer
    opacity: .6
body
    background-color: black
    line-height: 1
    background-color: #F2F2F2
.dnone
    display: none
a
    text-decoration: none

.container
    width: 1100px
    margin: 0 auto

header
    background-color: #00A068
    .container
        height: 80px
        display: flex
        justify-content: space-between
        .logo_and_text
            width: 25%
            display: flex
            margin: auto 0
            .logo
                margin: auto 0
            .text
                margin: auto 0
                padding-left: 8px
                font-weight: 900
                font-size: 24px
                line-height: 29px
        .links
            width: 50%
            margin: auto 0
            display: flex
            justify-content: center
            a
                padding: 0px 15px
                font-weight: 500
                font-size: 18px
                line-height: 22px
            .active
                font-weight: 700
        .user
            width: 25%
            margin: auto 0
            display: flex
            justify-content: right
            column-gap: 12px
            .img
                img
                    width: 46px
                    height: 46px
                    border-radius: 24px
            .img, .name, .arrow
                margin: auto 0

.sort_add
    margin-top: 40px
    .container
        display: flex
        justify-content: space-between
        .sort_by
            width: 50%
            display: flex
            column-gap: 12px
            .text
                font-weight: 500
                font-size: 18px
                line-height: 22px
                color: #7C7C7C
                margin: auto 0
            .dd
                button
                    display: flex
                    width: 270px
                    background-color: white
                    justify-content: space-between
                    padding: 0px 11px
                    height: 46px
                    border-radius: 16px
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
                    .t
                        color: black
                        margin: auto 0
                    img
                        margin: auto 0
        .add
            button
                width: 168px
                height: 46px
                background-color: #00A068
                border-radius: 16px
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)

.total_balance
    margin-top: 40px
    .total_balance_element
        width: 83%
        background-color: white
        color: black
        height: 80px
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 16px
        display: flex
        justify-content: space-between
        .text, .count
            margin: auto 0
            color: black
        .text
            padding: 0px 40px
            font-weight: 500
            font-size: 24px
            line-height: 29px
        .count
            display: flex
            justify-content: right
            .text
                padding: 0px 20px
                margin: auto 0
            button
                height: 80px
                background-color: #006EE6
                width: 80px
                border-radius: 0px 16px 16px 0px
            button:hover
                opacity: .7
                cursor: pointer
