@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&display=swap')

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
    display: block
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline
    box-sizing: border-box
    color: white
    transition: .3s
    font-family: 'Montserrat'
img, svg
    transition: .3s
a:hover, button:hover
    cursor: pointer
    opacity: .6
body
    background-color: black
    line-height: 1
    background-color: #F2F2F2
.dnone
    display: none
a
    text-decoration: none

.container
    width: 1140px
    padding: 0px 20px
    margin: 0 auto

header
    background-color: #00A068
    min-width: 1140px
    .container
        height: 80px
        display: flex
        justify-content: space-between
        .logo_and_text
            width: 25%
            display: flex
            margin: auto 0
            .logo
                margin: auto 0
            .text
                margin: auto 0
                padding-left: 8px
                font-weight: 900
                font-size: 24px
                line-height: 29px
        .links
            width: 50%
            margin: auto 0
            display: flex
            justify-content: center
            a
                padding: 0px 15px
                font-weight: 500
                font-size: 18px
                line-height: 22px
            .active
                font-weight: 700
        .user
            width: 25%
            margin: auto 0
            display: flex
            justify-content: right
            column-gap: 12px
            .img
                img
                    width: 46px
                    height: 46px
                    border-radius: 24px
            .img, .name, .arrow
                margin: auto 0

object
    width: 100%

@import account
#add_account_popup
    width: 100%
    height: 100vh
    position: absolute
    top: 0px
    left: 0px
    background: rgba(18, 18, 18, 0.85)
    .add_account
        position: absolute
        width: 861px
        height: 549px
        left: calc(50% - 861px/2 + 0.5px)
        top: calc(50% - 549px/2)
        background: #F2F2F2
        .control
            position: absolute
            width: 861px
            height: 80px
            left: 0px
            top: 0px
            background: #FFFFFF
            display: flex
            justify-content: space-between
            padding: 0px 40px
            .text, .cross
                color: #7C7C7C
                margin: auto 0
        .content
            display: flex
            margin-top: 80px
            height: 469px
            justify-content: space-around
            .element
                width: 325px
                height: 325px
                margin: auto 0
                background: #FFFFFF
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
                border-radius: 16px
                padding: 40px
                text-align: center
                .name
                    font-weight: 500
                    font-size: 24px
                    line-height: 29px
                    color: #000000
                    margin-top: 14px
                .desc
                    margin-top: 8px
                    font-weight: 500
                    font-size: 12px
                    line-height: 15px
                    color: #7C7C7C
.reg
    width: 640px
    margin: 0 auto
    h1
        margin-top: 44px
        font-style: normal
        font-weight: 700
        font-size: 64px
        line-height: 77px
        text-align: center
        text-transform: uppercase
        color: #00A068
    .form
        margin-top: 16px
        padding: 40px
        border: 3px solid #00A068
        border-radius: 10px
        label
            color: #7C7C7C
            font-weight: 500
            font-size: 24px
            line-height: 31px
        input
            margin: 18px 0px
            width: 91%
            background: none
            border: 1px solid #7C7C7C
            height: 55px
            padding: 0px 20px
            font-size: 24px
            border-radius: 8px
        a
            font-weight: 500
            font-size: 16px
            line-height: 31px
            color: #3E5DCD
            display: block
            margin-top: -10px
        button
            margin-top: 16px
            width: 100%
            height: 55px
            font-weight: 500
            font-size: 24px
            line-height: 31px
            background: #00A068
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
            border-radius: 8px

.reg_dop_info
    width: 950px
    font-weight: 400
    font-size: 24px
    line-height: 30px
    text-align: center
    color: #00A068
    margin: 0 auto
    margin-top: 24px
